<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serverIP" value="127.0.0.1"/>
    <add key="serverPort" value="9191"/>
    <add key="folderPath" value="C:\\temp;D:\\tmp"/> <!-- enter folder paths to watch separated by semicolons ';' like: "C:\\temp;D:\\temp\\something" -->
    <add key="fileFilter" value="*.java;*.c"/> <!-- enter file filters separated by semicolons ';' like: "*.c;*.cs;*.html" -->
    <add key="includeSubDirs" value="true"/> <!-- true or false -->
    <add key="serialNumber" value="b7337eee-d172-4cc7-a9eb-c180662aa950"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
