<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serverIP" value="192.168.1.3" />
    <add key="serverPort" value="9191" />
    <add key="folderPath" value="C:\\temp;D:\\tmp" />
    <!-- enter folder paths to watch separated by semicolons ';' like: "C:\\temp;D:\\temp\\something" -->
    <add key="fileFilter" value="*.java;*.c" />
    <!-- enter file filters separated by semicolons ';' like: "*.c;*.cs;*.html" -->
    <add key="includeSubDirs" value="true" />
    <!-- true or false -->
    <add key="serialNumber" value="b7337eee-d172-4cc7-a9eb-c180662aa950" />
    <add key="temp" value="test" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>