<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="listenerIP" value="192.168.1.51"/>
    <add key="listenerPort" value="9191"/>
    <add key="mySqlServer" value="adamodrobina.com.pl"/>
    <add key="mySqlPort" value="3306"/>
    <add key="mySqlDatabase" value="psr"/>
    <add key="mySqlUsername" value="psr_user"/>
    <add key="mySqlPassword" value="MisUszatek9"/>
    <add key="serialNumber" value="b7337eee-d172-4cc7-a9eb-c180662aa950"/>
    <add key="validClientIPs" value="127.0.0.1;192.168.1.51;192.168.1.1;192.168.1.3;31.178.46.43"/>

    <add key="injectServerIP" value="127.0.0.1"/>
    <add key="injectServerPort" value="9191"/>
    <add key="injectWatcherDirectories" value="D:\\tmp;c:\\temp"/>
    <add key="injectWatcherFilters" value="*.java;*.pas;*.c;*.cs"/>
    <add key="injectIncludeSubdirectories" value="true"/>
    <add key="injectSerialNumber" value="b7337eee-d172-4cc7-a9eb-c180662aa950"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
