<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="listenerIP" value="127.0.0.1"/>
    <add key="listenerPort" value="9191"/>
    <add key="mySqlServer" value="adamodrobina.com.pl"/>
    <add key="mySqlPort" value="3306"/>
    <add key="mySqlDatabase" value="psr"/>
    <add key="mySqlUsername" value="psr_user"/>
    <add key="mySqlPassword" value=""/>
    <add key="serialNumber" value="b7337eee-d172-4cc7-a9eb-c180662aa950"/>
    <add key="validClientIPs" value="127.0.0.1;192.168.1.51"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
